.header__ {
  display: flex;
}

.header__logo {
  width: 100px;
}

.header__menu {
  border: 2px solid #333;
  width: 90%;
  height: 50px;
  margin-top: 3%;
  background: #0a281c;
  border-radius: 50px;
  box-sizing: border-box;
}

.header__list {
  list-style-type: none;
  display: flex;
  gap: 30%;
  padding-left: 20%;
}

.header__a {
  text-decoration: none;
  color: #f0f0f0;
}

.hero {
  border: 2px solid #0a281c;
  border-radius: 10px;
  box-sizing: border-box;
  height: 500px;
  padding: 10%;
  background: linear-gradient(#d6c314, #f0f0f0, #0a281c);
}

.hero__btn {
  /* 1. Reset y tipografía */
  display: flex; /* Permite padding y margin en <a> */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 25px;
  min-height: 80bh;
  font-family: "Segoe UI", system-ui, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none; /* Quita subrayado del <a> */
  text-align: center;
  color: white;

  /* 2. Apariencia de botón */
  background-color: #0a281c; /* Color principal */
  padding: 0.875rem 2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;

  /* 3. Estados interactivos */
  transition:
    background-color 0.2s ease,
    transform 0.1s ease;
}

/* Estado hover (al pasar el mouse) */
.hero__btn:hover {
  background-color: #fff;
  color: #0a281c;
  border: 2px solid #0a281c;
  transform: translateY(-1px);
}

/* Estado focus (al navegar con teclado) - CRUCIAL para accesibilidad */
.hero__btn:focus {
  outline: 3px solid #93c5fd;
  outline-offset: 2px;
}

/* Estado active (al hacer clic) */
.hero__btn:active {
  transform: translateY(0);
}

.main-content {
  /* position: absolute; */
  /* top: 0; */
  /* left: 0; */
  /* z-index: 10; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 1rem; */
  width: 100%;
  max-width: auto;
  margin-top: 2%;
  padding: 2rem;
  box-sizing: border-box;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  /* line-height: 1.6; */
  color: #333;
  text-align: center;
  text-decoration: none;

  background: #f8fafc;
  background-size: cover;
  border: 2px solid #333;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.footer__ {
  /* 1. Posicionamiento y modelo de cajas */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* gap: 1rem; */
  /* 2. Modelo de cajas */
  width: 100%;
  max-width: auto;
  margin-top: 2%;
  padding: 2rem;
  box-sizing: border-box;

  /* 3. Tipografia */
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  font-weight: 600;
  color: #f0f0f0;
  text-align: center;

  /* 4. Apariencia visual */
  background: #0a281c;
  background-size: cover;
  border: none;
  border-radius: 12px;
  
}
